.sidebar {
  color: #3e3838;
  position: fixed;
  width: 80px;
  background-color: rgb(255, 255, 255);
  left: 0;
  bottom: 0;
  top: 70px;
  z-index: 200;
}

.sidebar-info {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80px;
  cursor: pointer;
}

.sidebar-info:hover {
  background-color: rgb(248, 248, 248);
}

.sidebar div {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
}

.sidebar-info img {
  height: 30px;
  margin-bottom: 10px;
}
